body {
  overflow: hidden;
}

#headerBrand {
  font-weight: 700;
  font-size: 22px;
  color: rgb(209, 207, 207);
  padding-right: 1%;
}

.headerBrand:hover {
  text-decoration: none;
}

#navButton {
  color: rgb(255, 255, 255);
  font-weight: 530;
  margin: 0 auto;
  padding: 8px;
}

#navButton:hover {
  text-decoration: none;
  color: #b9b0b0;
  font-weight: 700;
}

#popupButton {
  width: 130px;
  margin: 15px;
}

#about {
  text-align: center;
  padding-top: 2%;
}

.footer {
  position: absolute;
  bottom: 0%;
  z-index: 1000;
  height: 3vh;
  width: 100%;
  background-color: #343a40;
  text-align: center;
  color: white;
}

.legend {
  position: absolute;
  z-index: -1000;
  bottom: 0%;
  z-index: 1000;
  height: 12vh;
  width: 100%;
  background-color: #4e5357;
  opacity: 0.98;
  text-align: center;
  font-size: 15x;
  font-weight: 700;
  color: rgb(211, 202, 202);
}

.legendBar {
  position: absolute;
  z-index: 1000;
  left: 7.5%;
  top: 45%;
  width: 0.3vh;
  height: 50%;
  background-color: black;
}

.legendBar2 {
  position: absolute;
  z-index: 1000;
  left: 35%;
  top: 45%;
  width: 0.3vh;
  height: 50%;
  background-color: black;
}

.legendBar3 {
  position: absolute;
  z-index: 1000;
  left: 64%;
  top: 45%;
  width: 0.3vh;
  height: 50%;
  background-color: black;
}

.legendBar4 {
  position: absolute;
  z-index: 1000;
  left: 92.5%;
  top: 45%;
  width: 0.3vh;
  height: 50%;
  background-color: black;
}

.legendLowest {
  position: absolute;
  z-index: 1000;
  left: 6%;
  top: 20%;
  color: white;
  text-shadow: 2px 2px #3b3b3b;
  font-size: 1.3vh;
  font-weight: bold;
}
.legendMidLow {
  position: absolute;
  z-index: 1000;
  left: 30.9%;
  top: 20%;
  color: white;
  text-shadow: 2px 2px #3b3b3b;
  font-size: 1.3vh;
  font-weight: bold;
}
.legendMidHigh {
  position: absolute;
  z-index: 1000;
  left: 59.2%;
  top: 20%;
  color: white;
  text-shadow: 2px 2px #3b3b3b;
  font-size: 1.3vh;
  font-weight: bold;
}

.legendHighest {
  position: absolute;
  z-index: 1000;
  left: 87.5%;
  top: 20%;
  color: white;
  text-shadow: 2px 2px #3b3b3b;
  font-size: 1.3vh;
  font-weight: bold;
}

.gradientConfirmed {
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width: 85%;
  left: 7.5%;
  height: 50%;
  bottom: 5%;
  border-radius: 3px;
  background-image: linear-gradient(to left, #680c0d, #7e3121, #955535, #ab7a4a, #c29f5e, #d8c372, #efe886, #ffffff);
}

.gradientPerCapita {
  position: absolute;
  z-index: 1000;
  width: 85%;
  left: 7.5%;
  height: 50%;
  bottom: 5%;
  border-radius: 3px;
  background-image: linear-gradient(to left, #680c0d, #7e3121, #955535, #ab7a4a, #c29f5e, #d8c372, #efe886, #ffffff);
}

.gradientDeaths {
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width: 85%;
  left: 7.5%;
  height: 50%;
  bottom: 5%;
  border-radius: 3px;
  background-image: linear-gradient(to left, #004625, #2b6541, #55845d, #80a278, #aac194, #d4e0b0, #ffffcc, #ffffff);
}

.gradientDeathRate {
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width: 85%;
  left: 7.5%;
  height: 50%;
  bottom: 5%;
  border-radius: 3px;
  background-image: linear-gradient(to left, #1a3a46, #30555f, #467078, #6c8e94, #87aaae, #a3c6c8, #bee2e2, #ffffff);
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
